<ion-side-menus>
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon" ng-click="loadSubreddits()"></button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view>
        <ion-view view-title="derp" title="derp">
            <ion-nav-title>hello</ion-nav-title>
          <ion-content class="has-header">
            <h1>Frontpage</h1>
            <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
            <ion-list>
              <ion-item ng-repeat="post in posts">
                {{post.data.title}}
              </ion-item>
              <ion-infinite-scroll ng-if='canLoadMore()' on-infinite="loadPosts()" distance="1%"></ion-infinite-scroll>
            </ion-list>
          </ion-content>
        </ion-view>
    </ion-nav-view>

  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content >
      <ion-list>
        <ion-item ng-repeat="subreddit in subreddits | orderBy: '-data.subscribers'">
          {{subreddit.data.display_name}}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
